*{
    margin: 0;
    padding: 0;
}

#container {
    border: 2px solid green;
    margin: 5px 10px;
    padding: 10px 10px;
}

button {
    background-color: palevioletred;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    color: white;
    margin: 20px;
    align-items: center;
    text-align: center;
}

.bg-primary {
    background-color: aqua;
}

.text-success {
    color: green;
}

#even {
    border: 3px solid gray;
    height: 50vh;
    width: 80vw;
    margin: 10px 10px 10px 10px;
    padding: 30px 10px 10px 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}